.App {
    display: grid;
    grid-template-rows: 50px auto;
    font-family: "Gotham Rounded A", "Gotham Rounded B", "Helvetica Neue", Arial, sans-serif;
	font-weight: 300;
    letter-spacing: 0.01em;
    color: rgb(96, 108, 118);

    a {
        color: rgb(155, 77, 202);
        text-decoration: none;
    }

    header {
        background: #f4f5f6;
        border-bottom: 1px solid #d1d1d1;
    }

    main {
    	width: 69rem;
        margin: 0 auto;
    }
}
