.BranchSelector {
	display: inline-block;

    .title {
        display: inline-block;
        margin: 0 0.5em 0 0;
    }
    select {
        background: transparent;
	    border: none;
	    font-size: inherit;
	    font-weight: inherit;
	    font-family: inherit;
	    color: #9b4dca;
	    cursor: pointer;
	    outline: none;
    }
}
