.BranchSelector {
	display: inline-block;
	position: relative;

	.branchButton {
		cursor: pointer;
		span {
			color: #9b4dca;
		}
	}

	.branchDropdown {
		position: absolute;
		min-width: 18rem;

		.branchList {
			white-space: nowrap;
			max-height: 25em;
			overflow-y: scroll;
		}
	}

	.refType {
		:not(:last-child) {
			margin: 0 0.5rem 0 0;
		}

		span {
			cursor: pointer;
		}

		.selectable {
			color: #9b4dca;
		}
	}
}
