.CommitDiffList {
    padding: 0.5em;

    .Loading {
        .item {
        	margin: 0.5em 0;
		    padding: 0.5em 0.5em 0 0.5em;
            background-color: #eee;
            height: 1.5em;
        }
    }
}
