.CommitTitle {
    padding: 0.5em 0.5em 0 0.5em;
    margin: 0.5em 0;
    font-size: 0.9em;

    .author {
    	display: inline-block;
    	margin-right: 0.5em;
    }
    .description {
    	display: inline-block;
    }
    .at {
    	color: #999;
    	display: inline-block;
		float: right;
    }

    .Loading {
        .item {
            width: 5em;
            background-color: #eee;
            height: 1.5em;
            display: inline-block;
        }
        .item:first-child {
            margin-right: 0.5em;
        }
        .item:last-child {
            float: right;
        }
    }
}
