.CommitListItem {
    padding: 0.5em 0.5em 0 0.5em;
    margin: 0.5em 0;
    font-size: 0.9em;

    .author {
    	display: inline-block;
    	margin-right: 0.5em;
        width: 10em;
    }
    .description {
    	display: inline-block;
    }
    .at {
    	color: #999;
    	display: inline-block;
		float: right;
    }
}
