.NewPullRequestForm {
    padding: 0 0.5em 1em 0.5em;

	input {
	    display: block;
	    width: 50em;
	    border-radius: 0.2em;
	    border: 1px solid #ddd;
	    padding: 0.5em;
	    margin-bottom: 1em;
	    font: inherit;
	}
	input::placeholder {
		opacity: 0.5;
	}
	.CommentEditor {
		margin-bottom: 1em;
	}
	.button-container {
	    width: 50em;
	    text-align: right;
	    padding: 0.5em 0;

	    .Button {
	    	margin-left: 0.5em;
	    }
	}
}