.NewCommentForm {
    padding: 1em 0;
    font-size: 0.9em;

    .Avatar {
    	margin: 0 1em 0 0.5em;
    }

    .comment-area {
    	display: inline-block;
	}
	.CommentEditor {
		margin-bottom: 1.5em;
	}
	.button-container {
	    width: 50em;
	    text-align: right;
	    padding: 0.5em 0;
	}
}