.PullRequest {
    h4 {
        font-size: 1.5em;
        padding: 0.5rem;
        margin: 1rem 0 0 0;
        font-weight: 400;

        .Loading {
            background-color: #eee;
            height: 1.2em;
            width: 30em;
            display: inline-block;
        }
    }
    .pr-author {
        padding: 0 0.5em;

        .Avatar {
            width: 1.5em;
            height: 1.5em;
            vertical-align: middle;
            margin-right: 0.5em;
        }
        .Username {
            font-weight: inherit;
        }
    }
    > p {
        padding: 0.5em;

        .Loading {
            background-color: #eee;
            height: 1.2em;
            width: 30em;
            display: inline-block;
        }
    }
    .Tabs {
    	margin-top: 1em;
        padding: 0.5em;
    }
    .LoginForm {
        padding-left: 0.5em;
        margin-bottom: 2em;
    }
}
