.RepoLinks {
    padding: 0.5em;

    .compare-selector {
        padding-left: 1em;
    }
    .commits {
    	display: inline-block;
    	float: right;
        margin-top: 0.5em;
    }
    .ZipButton {
        margin: 0 0 0 0.5rem;
    }

    .Loading {
	    padding: 0.5em 0;
        .item {
            width: 5em;
            background-color: #eee;
            height: 1.5em;
            display: inline-block;
        }
        .item:first-child {
            margin-right: 0.5em;
        }
        .item:last-child {
            float: right;
        }
    }
}
